
.navbar-brand {
    font-size: 30px;
}

.navbar {
    background-color: none;
    font-size: 30px;
}

a:link {
    color: white;
}

a:hover {
    color: #ccc;
}

body {
    background-color: #764949;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

h1 {
    text-decoration: none;
    margin: 10px;
    margin-bottom: 30px;
}

p {
    line-height: 25px;
}

#mainDiv{
    position:relative;
}

#logo {
    margin-right: 80px;
}

#container {
    margin-top: 300px;
    text-align: center;
    margin-left: 350px;
    margin-bottom: 50px;
}

#content {
    width: 600px;
    margin-bottom: -30px;
}

#translator {
    width: 600px;
    margin-top: 100px;
    /* margin: 200px;*/
}

textarea {
    background-color: #fff;
    width: 250px;
    height: 100px;
    border-radius: 10px;
    opacity: 0.45;
}

button {
    background-color: #432a2a;
    color: #fff;
    font-size: 18px;
    border: 0px;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

button:hover {
    background-color: #4b2f2f;
    color: #fff;
}